.slider-container { 
  height: 120px;
  width: 100%;
  padding: 0 20px;
}

.inner-slider-rail {   
  position: absolute;
  width: 100%;
  height: 14px;
  transform: translate(0%, -50%);
  border-radius: 7px;
  pointer-events: 'none';
  background-color: rgb(155,155,155);
}

.outer-rail {   
  position: absolute;
  width: 100%;
  height: 42px;
  transform: translate(0%, -50%);
  border-radius: 7px;
  cursor: pointer;
}

.slider {  
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.track {  
  position: absolute;
  transform: translate(0%, -50%);
  height: 14px;
  z-index: 1;
  border-radius: 7px;
  background-color: #455a64;
  cursor: pointer;
}

.track-disabled {  
  background-color: '#999'; 
}

.handle {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 5;
    width: 28px;
    height: 42px;
    cursor: pointer;
    background-color: none;
  }

  .handle-slider {     
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #468ac1;
  }

  .tick-container {
    position: absolute;
    margin-top: 14px;
    width: 1px;
    height: 5px;
    background-color: rgb(200,200,200);
  }

  .tick {    
    position: absolute;
    margin-top: 22px;
    font-size: 10px;
    text-align: 'center';
  }

  .dates {
    font-weight: 200;
  }