@import './variables.scss';

.App {
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;  
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.App-header {
    background-color: $sero-dark-blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25;
    flex: 1 1;
    color: lightgrey;
    font-weight: 300;
    height: 50px;
    z-index: 10000;
}

.nav__item--active a{
    font-weight: 500;
    color: white;
}

.nav__item a{
    font-weight: 400;
    color: lightgrey;
}

.nav__item--accordion {
    font-weight: 400 !important;
    color: lightgrey;
}

.dropdown__icon{
    transform: rotate(270deg) !important;
}

.dropdown__icon--active{
    transform: rotate(180deg) !important;
}

Footer {
    background-color: $sero-dark-blue;
    color: white !important;
}

.App-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    z-index: 10000;

    &--mobile {
        flex-direction: column;
        justify-content: flex-start;
    }

    &__item {
        font-size: 1em;
        color: white;
        display: flex;
        align-items: center;
    }

    &__link {
        color: white;
        &:hover {
            font-weight: 600;
            color: white;
        }
    }
}

.updated-date-string {
    font-weight: 550;
}

.cite-link {
    color: #55A6BA;
}

.italics{
    font-style: italic;
}

.left-item {
    justify-content: flex-start;
}

.middle-item {
    justify-content: center;
}

.right-item {
    justify-content: flex-end;
}

.App-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25em;
}

.bold {
    border-bottom: 3px solid white;
}

.bold a {
    font-weight: 500;
    margin-bottom: -3px;
    color: white;
}

.regular a, .regular div{
    font-weight: 500;
    color: lightgrey;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
}

.column {
    flex-direction: column;
}

.fit {
    flex: 0 1;
}

.fill {
    flex: 1 1;
}

.start-item {
    justify-content: start;
    align-content: center;
}

.end-item {
    justify-content: end;
    align-content: center;
}

.right {
    text-align: end;
    justify-content: flex-end;
}

.center {
    text-align: center;
    justify-content: center;
}

.middle {
    justify-content: center;
}

.left {
    text-align: start;
    justify-content: flex-start;
}

.top {
    align-content: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.section-title {
    font-weight: bold;
    font-size: 1em;
    line-height: 19px;
    color: #455a64;
}

.center-item {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.App-container {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
}

.App-title > a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    cursor: pointer;
}

.regular a, .regular div {
    font-weight: 200;
    color: lightgrey;
}

.popup-title { 
  font-weight: bold;
  font-size: 18px;
}

.popup-heading { 
  font-weight: bold;
  font-size: 12px;
}

.popup-text { 
  font-weight: normal;
  font-size: 12px;
}

.popup-header {
    font-size: 1.40em;
    line-height: 1.2;
    margin-bottom: 0.25em;
    color: #333333;
    display:flex;
    justify-content: flex-start;
    font-weight: 600;
}

.icon-container {
    position: absolute;
    z-index: 3000;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 #646464;
    height: 30px;
    width: 30px;
}

.icon {
    margin: 3px 5px;
}

.cursor {
    cursor: pointer;
}

.modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}

.modal-text {
    margin-left: 16px;
    margin-right: 16px;
}

.modal-text p {
    font-size: 20px;
}

.modal-text-mobile {
    margin-left: 16px;
    margin-right: 16px;
}

.modal-content {
    border: none
}

.checkbox {
    width: 1.25em;
    height: 1.25em;
}

.dropdown a {
    color: #333333;
}