.cookie-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 14000;
  background-color: white;
  border-top: 2px solid grey;
}

.info-text {
  color: #0645AD;
  // text-decoration: underline;
  cursor: pointer;
}