.static-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    height: 94vh;
}

.static-content {
    width: 60%;
}

.static-content li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.static-content h1 {
    margin-block-start: 1.2em;
    margin-block-end: 0.8em;
}

.static-content h2 {
    margin-block-start: 1.2em;
    margin-block-end: 0.8em;
}

.static-content h4 {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}

.vertical-spacer {
    margin-bottom: 20px;
    margin-top: 20px;
}

.dashboard-img {
    width: 80%;
    border: 1px solid #ccc;
}

.bio-grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1.5em;
    margin-block-end: 1em;
    width: 100%;
}

.airtable-embed {
    background: transparent; 
    border: 1px solid #ccc;
}

.icon {
    cursor: pointer;
}