.item-container {
  justify-content: space-between;
  border-top: 2px solid #C4C4C4;
}

.country-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height:85%;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height:85%;
  overflow: auto;
}

.list-container {
  min-height: -webkit-min-content;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex: 1;
}

.item-container:last-of-type {
  justify-content: space-between;
  border-top: 2px solid #C4C4C4;
  border-bottom: 2px solid #C4C4C4;
}

.item-container:first-of-type {
  justify-content: space-between;
  border-top: 2px solid #C4C4C4;
}

.country-list-container {
  border-top: 2px solid #C4C4C4;
}


.country-name {
  font-weight: 300;
  font-size: 0.875em;
}

.country-stat {
  font-size: 0.875em;  
}

.item-list-container {
  background: white;
  overflow: auto;
}