.main-statistic-title {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 28px;
  color: #468ac1;
}

.main-statistic {
  color: #468ac1;
  font-weight: 300;
  font-size: 3em;
  line-height: 56px;
}

.secondary-statistic-title {
  font-weight: 200;
  font-size: 1.25em;
  line-height: 21px;
  display: block;
}

.secondary-statistic {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 23px;
  text-align: center;  
  color: #455A64;
}

.stats-container {
  flex: 0 1
}
