.container {
  -moz-box-shadow: 0 0 5px 0 #000000;
  -webkit-box-shadow: 0 0 5px 0 #000000;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: white;
}

.charts {
  margin-top: 6vh;
  max-height: 70vh;
}

.mobile-charts {
  margin-top: 60px;
  max-height: 70vh;
}

.charts-page {
  display: flex;
  background: lightgray;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  flex: 1 1
}

.large-dropdown {
  font-size: 1.0em;
  border: none;
  background-color: lightgrey;
}

.references {
  flex: 0 1;
}

.charts-title {
  font-size: 1.125em;
}

.table {
  table-layout: auto;
  border-collapse: collapse;
}

.table tbody {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

.table thead tr {
  display: flex;
  overflow-y: scroll;
}

.table thead tr::-webkit-scrollbar {
  background-color: white;
  color: white;
}

table thead tr::-webkit-scrollbar {
  width: 11px;
}
table thead tr::-webkit-scrollbar-track {
  background: #f9fafb;
}
table thead tr::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


.table th,
.table td {
  text-align: left;
  width: 20%;
}

.modal {
  z-index: 6000;
}

.no-data-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-data-text {
  font-size: 20px;
}
