.name-text {
  color: #5BA5B6;
  font-size: 1.25em;
}

.secondary-text {
  font-size: 1.125em;
}

.secondary-title {
  font-weight: 500;
  padding-right: 0.5em;
}

.tertiary-text {
  font-size: 1em;
}

.modal-text-container { 
  background-color: #F2F2F2;
}