.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    height: 95vh;
}

.policy-container {
    flex-direction: column;
    display: flex;    
}

.policy-iframe {
    border: none;
    border-left: 2px solid grey
}

.dashboard {
    max-height: calc(100% - 50px);
    height: 100%;
    overflow-y: hidden;
}

.static-content {
    width: 60%;
}

.reference-table {
    width: 80%;
}

.static-content li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.static-content h1 {
    margin-block-start: 1.2em;
    margin-block-end: 0.8em;
}

.static-content h2 {
    margin-block-start: 1.2em;
    margin-block-end: 0.8em;
}

.static-content h4 {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}

.vertical-spacer {
    margin-bottom: 20px;
    margin-top: 20px;
}

.dashboard-img {
    width: 80%;
    border: 1px solid #ccc;
}

.bio-grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1.5em;
    margin-block-end: 1em;
    width: 100%;
}

.airtable-embed {
    background: transparent; 
    border: 1px solid #ccc;
}

.icon {
    cursor: pointer;
}

.team-name-text {
    font-weight: normal;
    font-style: italic;
}
.linked-in {
    color: #053f5a
}

.social-media {
    color: #495057
}

.email {
    color: #495057
}  

.twitter {
    color: #1aa4dd
}

.center-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    display: flex;
    height: 100%;
    width: 100%; 
    padding-bottom: 10%;
}

.not-found-header {
    font-size: 128px;
    margin: 0px;
    line-height: 1.4;
}

.not-found-subheader {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 8px;
}

.ui.button.not-found-button {
    background-color: #455a64;
    color: white;
}