@import '../../../sass/variables.scss';

@mixin icon-container {
    position: absolute;
    z-index: 3000;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 #646464;
    height: 30px;
    width: 30px;
  }

.explore {

    position: relative;

    .sidebar {
        &__info-btn {
            @include icon-container;
            top: 45px;
            left: 10px;
        }

        &__filter-btn {
            @include icon-container;
            top: 10px;
            left: 10px;
        }

        &__map-btn {
            @include icon-container;
            bottom: 10px;
            right: 10px;
        }
    }
}

.left-sidebar {
    justify-content: center;
    align-content: center;
    position: absolute;
    left: -16.666vw;
    top: 10px;
    height: calc(100% - 20px);
    transition: left 0.2s ease-in-out;
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    padding-left: 10px;
    border-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.left-sidebar.open {
    left: 10px;
}

.right-sidebar {
    position: absolute;
    top: 10px;
    right: -16.66vw;
    transition: right 0.2s ease-in-out;
    height: calc(100% - 20px);
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

.right-sidebar.open {
    right: 10px;
}

.sidebar-toggle-button{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: rgba(54, 78, 96, 0.75);
    height: 20vh;
    top: 30vh;
    z-index: 100;
    color: white;


    &-left-close {
        left: 0;
        transition: left 0.2s ease-in-out;
        border-radius: 0 10px 10px 0;
    }

    &-left-open {
        left: calc(16.66vw + 6.5px);
        transition: left 0.2s ease-in-out;
        border-radius: 0 10px 10px 0;
    }

    &-right-close {
        right: 0;
        transition: right 0.2s ease-in-out;
        border-radius: 10px 0 0 10px;
    }

    &-right-open {
        right: calc(16.66vw + 6.5px);
        transition: right 0.2s ease-in-out;
        border-radius: 10px 0 0 10px;
    }

    &:hover {
        background-color: rgba(54, 78, 96, 1);
    }
}


