.sidebar-container {
  border-top: none;
  overflow-y: auto;
  display: block;
}

.left-sidebar {
  border-right: 1px solid #888888;
}

.right-sidebar {
  border-left: 1px solid #888888;
}