.sidebar-container {
  border: none;
  overflow-y: auto;
  display: block;
  padding: 5%;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.left-sidebar {
  font-size: 1.25em;
  line-height: 21px;
}