.App {
    flex-wrap: wrap;
}

.App-header {
    background-color: #455a64;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25;
    color: white;
    font-weight: 300;
    -moz-box-shadow: 0 0 5px 0 #000000;
    -webkit-box-shadow: 0 0 5px 0 #000000;
    box-shadow: 0 0 5px 0 #000000;
}

.App-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.App-tabs > a {
    color: white;
    font-size: 1.25em;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.end-item {
    justify-content: end;
    align-content: center;
}

.right {
    justify-content: flex-end;
}

.center {
    text-align: center;
}

.middle {
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.top {
    align-content: flex-start;
}

.section-title {
    font-weight: bold;
    font-size: 1em;
    line-height: 19px;
    color: #455a64;
}

.center-item {
    justify-content: center;
    align-content: center;
}

.App-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.App-title > a {
    color: white;
    font-size: 1.625em;
    cursor: pointer;
}
