.legend {
  text-align: center;
  line-height: 18px;
  right: calc(50% - 10vw);
  max-width: 43vw;
  color: #555;
}

.legend i {
  width: 6vw;
  height: 18px;
  float: left;
  opacity: 0.7;
}
