.tooltip-vert-adj {
    margin-top: -1px;
}

.filters-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}
.react-datepicker-wrapper {
    flex: 1 1;
}
div > .react-datepicker {
    font-size: 16px;
}

.filter-section-header {
    font-weight: 500;
}

.last-refreshed-title {
    font-size: 0.9em;
}