.tooltip-vert-adj {
    margin-top: -1px;
}

.filters-container {
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 2px solid #C4C4C4;
    height: calc(100vh - 17%);
}

.filter-section-header {
    font-weight: 500;
}

.last-refreshed-title {
    font-size: 0.9em;
}

.date-range-container { 
  margin-left: 15px;
}

.DateRangePicker { 
  margin-top: 8px;
  margin-bottom: 16px;
}

.DayPicker { 
  transform: translateX(16px) translateY(32px) scale(0.8);
}

.CalendarDay__selected_span {
  background: #44728f !important;
  border: 1px double #455a64 !important;
}


