.last-updated-tooltip {
    margin-top: -1px;
}

.filters-container {
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.filters-container::-webkit-scrollbar {
    display: none;
}