.insights-card-image {
  width: 100%;
  border-radius: 5px;
  position:relative;
  object-fit: cover;
  height: 120px;
  align-items: flex-start;
}

.insights-card-date {
  font-size: 0.9em;
  font-weight: 500;
}

.insights-card-title {
  line-height: 1.3em;
  font-size: 1.2em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.insights-card {
  height: 280px;
}

.insights-card-no-img {
  height: 120px;
}


.insights-card-image-overlay {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

.insights-card-image:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: #000;
  justify-content: center;
  text-decoration: none;
  transition-delay: 3s;
  transition: opacity 500ms;
  opacity: 0.8;
}

.insights-card-image > .overlay {
  position: absolute;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
}

// CSS trick to get arrows to show
// https://stackoverflow.com/questions/28998536/slick-slider-next-arrows-not-showing
.slick-prev:before, .slick-next:before{
  color:black;
  font-size: 40px; 
  line-height: 1;
  font-family: "slick"
}

.slick-prev:before { content: "‹"; }
.slick-next:before { content: "›"; }

// https://github.com/akiran/react-slick/issues/1571
.slider-container {
  max-width: 80vw;
}